/*font-family: 'Roboto', sans-serif;*/


body{
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;

}
.container{

	margin: 0 auto;
	width: 90%;
}
.logo-image{
	margin-top: 20px;
	height:5%;
	width: 100px;
	
	margin-left: 20px;
}
header{
	margin: 0 auto;
	background-color: #0D0D0D;
	padding-bottom: 50px;
}
footer{
	background-color: #0D0D0D;
}
.footer-nametag{

	color: #D9D9D9;
}
main{
	background: #fff url(/img/bg.jpg) 0 0 repeat-x;
	 background-size:110%;
	 height: 700px;
	 padding-top: 10%;


}
.main-text{
	font-size: 250%;
	margin: 0 auto;
	padding-bottom: 5%;
	text-transform: uppercase;
	color:  #D9D9D9;
	 text-shadow: 1px 1px 2px black;
}
.menu{
	margin-left: 33%;
	margin-top: -35px;
}
.menu-link{
	display: inline-flex;
	margin-right: 3%;

	flex-direction: row;
	font-weight: 500;
	color: #D9D9D9;
	text-decoration: none;

}

.main-button{
	padding: 3%;
	background-color: red;
	color: white;
	text-decoration: none;
	text-shadow: 1px 1px 2px black;
	border-radius: 3px;

}